<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009250100035-4uvo6djtll0rpk6um4ujefgh4pap208p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009250100035-4uvo6djtll0rpk6um4ujefgh4pap208p</string>
	<key>API_KEY</key>
	<string>AIzaSyDiXpjLWQ7PyIJMpFsMkYoY2DUD6Y5qir4</string>
	<key>GCM_SENDER_ID</key>
	<string>1009250100035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-app-4f624</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-app-4f624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009250100035:ios:b97c9f1100d5a0cecc85f6</string>
</dict>
</plist>